@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

body {
  background-color: #85b4ff;
  font-family: "Bricolage Grotesque", sans-serif;
  font-family: "Rubik", sans-serif;
}

.App {
  text-align: center;
  font-family: "Bricolage Grotesque", sans-serif;
  font-family: "Rubik", sans-serif;
}

.App-header {
  background-color: #ff70ae !important;
}

.App-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.App-link {
  color: #fc6722;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.App-link:hover {
  color: #f5b400;
}

i {
  font-size: 36px;
}

.nav-icon {
  font-size: 18px;
}

.card-body {
  background-color: #abf1a2;
}

footer {
  background-color: #ff70ae !important;
  color: black !important;
}
